@tailwind base;
@tailwind components;
@tailwind utilities;


a.active hr {
    display: block;
}

@media (max-width:640px) {
    a.active {
        background-color: black;
        color: white;
    }
}


  
::-webkit-scrollbar{
    display: none;
}

.divider {
    width: 8px; /* Can use w-8 in Tailwind */
    height: 1px; /* Adjust as needed */
    background-color: #414141;
  }
  